name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths: Dockerfile
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag harryhung01/dsci310-ia3-harryhung01-docker:latest

    - name: Push the Docker image
      run: docker push harryhung01/dsci310-ia3-harryhung01-docker:latest
